# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS generated
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Temporary files
*.log
*.sqlite3
*.pid

# Build directories
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
